#calculadora {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 360px;
	height: 500px;
	background-color: gray;
	margin: auto;
	border-radius: 15px;
}

#calculadora #visor-div {
	margin: 0 auto;
	width: 320px;
	height: 65px;
}

#calculadora #visor-div input {
	width: 99%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#calculadora #visor-div .vsr-estilo {
	border: 2px solid #bebebe;
	border-radius: 10px;
	background-color: #efefef;
}

#calculadora #visor-div #visor {
	box-sizing: border-box;
	text-align: right;
	font-size: 32px;
	padding: 10px;
}

#calculadora #teclado {
	height: 360px;
	width: 320px;
	margin: 0 auto;
}

#calculadora #teclado .tcl-estilo {
	border: 2px solid #bebebe;
	border-radius: 10px;
	background-color: #efefef;
	font-size: 32px;
	font-weight: bold;
	color: #565656;
	transition: all 0.1s;
}

#calculadora #teclado .tcl-estilo:hover {
	background-color: #bebebe;
	color: #262626;
	cursor: pointer;
}

#calculadora #teclado #funcoes .tcl-estilo {
	font-size: 16px;
}

#calculadora #teclado #numeros {
	float: left;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 236px;
}

#calculadora #teclado #operacoes {
	float: right;
	width: 80px;
	height: 280px;
}

#calculadora #teclado #operacoes button {
	float: right;
}

#calculadora #teclado .tecla {
	width: 65px;
	height: 65px;
	margin-top: 5px;
}

#calculadora #teclado .null {
	width: 65px;
	height: 65px;
}

#calculadora #teclado #funcoes {
	height: 80px;
}

#calculadora #teclado .func-tecla {
	margin-bottom: 5px;
	width: 50px;
	height: 35px;
}

#calculadora #teclado .func-tecla img {
	width: 20px
}
